<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Part Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Outsourced Part Detail</h1>

<form action="#" th:action="@{/showFormAddOutPart}" th:object="${outsourcedpart}" method="POST">
    <div th:if="${#fields.hasGlobalErrors()}">
        <p th:each="err : ${#fields.globalErrors()}"
           th:text="${err}"
           class="text-danger"></p>
    </div>


    <input type="hidden" th:field="*{id}"/>


    <p>
        <label>
            Name
        </label><br/>
        <input type="text"
               th:field="*{name}"
               class="form-control mb-2 col-4"/>
    </p>

    <p>
        <label>
            Price
        </label><br/>
        <input type="number"
               step="0.01"
               th:field="*{price}"
               class="form-control mb-2 col-4"/>
    </p>
    <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price Error</p>


    <p>
        <label>
            Inventory
        </label><br/>
        <input type="number"
               th:field="*{inv}"
               class="form-control mb-2 col-4"/>
    </p>
    <p th:if="${#fields.hasErrors('inv')}" th:errors="*{inv}">Inventory Error</p>
    <p>
        <label>
            Min Inventory
        </label><br/>
        <input type="number"
               th:field="*{minInv}"
               class="form-control mb-2 col-4"/>
    </p>
    <p th:if="${#fields.hasErrors('minInv')}" th:errors="*{minInv}">Min Inventory Error</p>
    <p>
        <label>
            Max Inventory
        </label><br/>
        <input type="number"
               th:field="*{maxInv}"
               class="form-control mb-2 col-4"/>
    </p>
    <p th:if="${#fields.hasErrors('maxInv')}" th:errors="*{maxInv}">Max Inventory Error</p>
    <p>
        <label>
            Company Name
        </label><br/>
        <input type="text"
               th:field="*{companyName}"
               class="form-control mb-2 col-4"/>
    </p>
    <p>
        <input type="submit" value="Submit"/>
    </p>
</form>

<a href="http://localhost:8080/">Link
    to Main Screen</a>
</body>
</html>